.map-canvas {
  height: 480px;
  width: 960px;
  border: none;
  border-style: ridge;
  border-color: #fff;
  color: #fff;
  background-color: "#D37506";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.path {
  fill: rgb(132, 0, 255);
  stroke: cornsilk;
  stroke-width: 1px;
}

.path:hover {
  cursor: pointer;
  fill: rgb(255, 145, 0);
  fill-opacity: 0.5;
}